
RewriteEngine on
RewriteCond %{HTTP_HOST} ^tere\.ro$ [OR]
RewriteCond %{HTTP_HOST} ^www\.tere\.ro$

RewriteCond %{SERVER_PORT} 80
RewriteRule ^(.*)$ https://tere.ro/$1 [R,L]

RewriteRule ^wishlist$ "https\:\/\/andreiterecoasa\.notion\.site\/b034078169ea4a7686a2b46a3e0d3f38\?v\=e55d6b07233549eeac762a57508ef488\&pvs\=4" [R=301,L]
